include README.rst
include setup.cfg
include pyproject.toml
include LICENSE.md

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
